*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    font-family: sans-serif; 
    margin:50px;
    padding-left: 400px;
    padding-right: 400px;
}
.box1{
    height: 33vh;
    background-color: whitesmoke;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 10px;
}
h1{
    color: rgb(15, 255, 255);
}
.sub-para{
    color: chartreuse;
}
.para{
    color: grey;
}
.box2{
    height: 33vh;
    background-color: rgb(8, 161, 110);
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}
button{
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    color: white;
    border-radius: 10px;
}
.box3{
    height: 34vh;
    background-color: rgb(69, 212, 164);
    color: white;
    padding-left: 30px;
    padding-top: 20px;
} 
